<!-- Individual Store View -->
<button class='x'>x</button>
<div data-storenum='{{id}}' class="store-details-wrapper">
	<h4>{{name}}</h4>

	<p class="addr">{{address.line1}}</p>

	<p class="addr">{{address.city}}, {{address.state}} {{address.zipCode}}</p>

	<p class="phone-num">{{phoneNumber}}</p>
</div>

<a target="_blank" class="store-info" href="https://l.macys.com/stores.html?cm_sp=navigation-_-bottom_nav-_-store_locations_hours">
	<button class="store-directions">
		Get Directions
		<img src="https://assets.macys.com/dyn_img/creativepages/icon-getdirections.png">
	</button>
</a>

<a target="_blank" class="store-info" href="https://l.macys.com/stores.html?cm_sp=navigation-_-bottom_nav-_-store_locations_hours">
	<button class="store-details">Store Details</button>
</a>
<!-- end dress destination store details content -->
